*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
      overflow-y: scroll; 
  }
  
  body {
    color: white;
    background: black;
    font-family: 'Titillium Web', sans-serif;
  }

  p {
      color: white;
  }

  h1 {
    color: white;
  }
  
  span {
      color: white;
      font-size: 12px;
  }

// Menu

 .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #13232f;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  .socialmedia {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: inline-block;
  }

 menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  menu a:hover {
    color: #1ab188;
  }

  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 